.sc-transition-ease-out > .sc-view {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.sc-pane.sc-panel.sc-sheet-pane .top-right-edge {
  background: static_url('blank');
}

.sc-pane.sc-panel.sc-sheet-pane .top-left-edge {
  background: static_url('blank');
}

.sc-pane.sc-panel.sc-sheet-pane .top-edge {
  background: static_url('blank');
}

.sc-pane.sc-panel.sc-sheet-pane .left-edge {
  background: static_url('images/panels/shadows_repeat_y.png') repeat-y 0px 0px;
  position: absolute;
  width: 20px;
  top: 0px;
  bottom: 20px;
  left: -20px;
}

.sc-pane.sc-panel.sc-sheet-pane .right-edge {
  background: static_url('images/panels/shadows_repeat_y.png') repeat-y -30px 0px;
  position: absolute;
  width: 20px;
  top: 0px;
  bottom: 20px;
  right: -20px;
}