/* Core
---------------------------------------------- */

.sc-theme .sc-button-view {
  height: 24px;
  display: inline-block;
  border: 0;
  text-decoration: none;
  background: static_url('images/sc-theme-repeat-x.png') no-repeat;
  vertical-align: middle;
}

.sc-theme.ie7 .sc-button-view {
  display: inline;
}

.sc-theme .sc-button-view.sc-static-layout {
  margin: 0 4px;
}

.sc-theme .sc-button-view .sc-button-inner {
  height: 24px;
  display: block;
  position: relative;
  text-align: center;
  background: static_url('images/sc-theme-repeat-x.png') no-repeat;
}

.sc-theme .sc-button-view label {
  height: 24px;
  display: block;
  position: relative;
  color: #000;
  font-size: 12px;
  line-height: 24px;
  text-shadow: 0 1px 0 #fff;
  background: static_url('images/sc-theme-repeat-x.png') repeat-x;
}

.sc-theme .sc-button-view img {
  position: relative;
  top: -2px;
  left: -2px;
  margin-right: 2px;
  vertical-align: middle;
}

.sc-theme .sc-button-view.icon img.icon {
  width: 16px;
  height: 16px;
  position: relative;
  top: -2px;
  margin-right: 2px;
  vertical-align: middle;
}

/* Active */

.sc-theme .sc-button-view.active label {
  color: #fff;
  text-shadow: 0 -1px 0 #000;
}

/* Disabled */

.sc-theme .sc-button-view.disabled label {
  color: #999;
  text-shadow: none;
}

/* Default - Selected */

.sc-theme .sc-button-view.def label,
.sc-theme .sc-button-view.sel label {
  color: #fff;
  text-shadow: 0 -1px 0 #2a569e;
}

/* Default - Selected + Disabled */

.sc-theme .sc-button-view.def.disabled label,
.sc-theme .sc-button-view.sel.disabled label {
  color: #ddd;
  text-shadow: none;
}


/* Square
---------------------------------------------- */

.sc-theme .sc-button-view.square label {
  margin: 0 11px;
}

/* Regular */

.sc-theme .sc-button-view.square {
  background-position: 100% -814px;
}

.sc-theme .sc-button-view.square .sc-button-inner {
  background-position: 0 -789px;
}

.sc-theme .sc-button-view.square label {
  background-position: 0 -764px;
}

/* Active */

.sc-theme .sc-button-view.square.active {
  background-position: 100% -939px;
}

.sc-theme .sc-button-view.square.active .sc-button-inner {
  background-position: 0 -913px;
}

.sc-theme .sc-button-view.square.active label {
  background-position: 0 -889px;
}

/* Disabled */

.sc-theme .sc-button-view.square.disabled {
  background-position: 100% -1064px;
}

.sc-theme .sc-button-view.square.disabled .sc-button-inner {
  background-position: 0 -1038px;
}

.sc-theme .sc-button-view.square.disabled label {
  background-position: 0 -1014px;
}

/* Default - Selected */

.sc-theme .sc-button-view.square.def,
.sc-theme .sc-button-view.square.sel {
  background-position: 100% -1190px;
}

.sc-theme .sc-button-view.square.def .sc-button-inner,
.sc-theme .sc-button-view.square.sel .sc-button-inner {
  background-position: 0 -1164px;
}

.sc-theme .sc-button-view.square.def label,
.sc-theme .sc-button-view.square.sel label {
  background-position: 0 -1140px;
}

/* Default - Selected + Active */

.sc-theme .sc-button-view.square.def.active,
.sc-theme .sc-button-view.square.sel.active {
  background-position: 100% -1316px;
}

.sc-theme .sc-button-view.square.def.active .sc-button-inner,
.sc-theme .sc-button-view.square.sel.active .sc-button-inner {
  background-position: 0 -1290px;
}

.sc-theme .sc-button-view.square.def.active label,
.sc-theme .sc-button-view.square.sel.active label {
  background-position: 0 -1266px;
}

/* Default - Selected + Disabled */

.sc-theme .sc-button-view.square.def.disabled,
.sc-theme .sc-button-view.square.sel.disabled {
  background-position: 100% -1442px;
}

.sc-theme .sc-button-view.square.def.disabled .sc-button-inner,
.sc-theme .sc-button-view.square.sel.disabled .sc-button-inner {
  background-position: 0 -1416px;
}

.sc-theme .sc-button-view.square.def.disabled label,
.sc-theme .sc-button-view.square.sel.disabled label {
  background-position: 0 -1392px;
}


/* Capsule
---------------------------------------------- */

.sc-theme .sc-button-view.capsule label {
  margin: 0 12px;
}

/* Regular */

.sc-theme .sc-button-view.capsule {
  background-position: 100% -224px;
}

.sc-theme .sc-button-view.capsule .sc-button-inner {
  background-position: 0 -197px;
}

.sc-theme .sc-button-view.capsule label {
  background-position: 0 -764px;
}

/* Active */

.sc-theme .sc-button-view.capsule.active {
  background-position: 100% -384px;
}

.sc-theme .sc-button-view.capsule.active .sc-button-inner {
  background-position: 0 -357px;
}

.sc-theme .sc-button-view.capsule.active label {
  background-position: 0 -889px;
}

/* Disabled / Default - Selected + Disabled */

.sc-theme .sc-button-view.capsule.disabled,
.sc-theme .sc-button-view.capsule.def.disabled,
.sc-theme .sc-button-view.capsule.sel.disabled {
  background-position: 100% -544px;
}

.sc-theme .sc-button-view.capsule.disabled .sc-button-inner,
.sc-theme .sc-button-view.capsule.def.disabled .sc-button-inner,
.sc-theme .sc-button-view.capsule.sel.disabled .sc-button-inner {
  background-position: 0 -517px;
}

.sc-theme .sc-button-view.capsule.disabled label,
.sc-theme .sc-button-view.capsule.def.disabled label,
.sc-theme .sc-button-view.capsule.sel.disabled label {
  background-position: 0 -1014px;
}

/* Default - Selected */

.sc-theme .sc-button-view.capsule.def,
.sc-theme .sc-button-view.capsule.sel {
  background-position: 100% -304px;
}

.sc-theme .sc-button-view.capsule.def .sc-button-inner,
.sc-theme .sc-button-view.capsule.sel .sc-button-inner {
  background-position: 0 -277px;
}

.sc-theme .sc-button-view.capsule.def label,
.sc-theme .sc-button-view.capsule.sel label {
  background-position: 0 -1140px;
}

/* Default - Selected + Active */

.sc-theme .sc-button-view.capsule.def.active,
.sc-theme .sc-button-view.capsule.sel.active {
  background-position: 100% -464px;
}

.sc-theme .sc-button-view.capsule.def.active .sc-button-inner,
.sc-theme .sc-button-view.capsule.sel.active .sc-button-inner {
  background-position: 0 -437px;
}

.sc-theme .sc-button-view.capsule.def.active label,
.sc-theme .sc-button-view.capsule.sel.active label {
  background-position: 0 -1266px;
}


/* Focus Ring
---------------------------------------------- */

.sc-theme .sc-button-view.focus {
  overflow: visible;
}

.sc-theme .sc-button-view div.focus-ring {
  visibility: hidden;
}

.sc-theme .sc-button-view.focus div.focus-ring {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: visible;
}

.sc-theme .sc-button-view.focus div.focus-ring div {
  position: absolute;
  top: -3px;
  bottom: -3px;
}

.sc-theme .sc-button-view.square.focus .focus-ring .focus-left,
.sc-theme .sc-button-view.dropdown.focus .focus-ring .focus-left,
.sc-theme .sc-button-view.popup.focus .focus-ring .focus-left {
  width: 10px;
  left: -2px;
  background: static_url('images/sc-theme-repeat-x.png') no-repeat 0 -1685px;
}

.sc-theme .sc-button-view.square.focus .focus-ring .focus-right,
.sc-theme .sc-button-view.dropdown.focus .focus-ring .focus-right,
.sc-theme .sc-button-view.popup.focus .focus-ring .focus-right {
  width: 10px;
  right: -2px;
  background: static_url('images/sc-theme-repeat-x.png') no-repeat 100% -1717px;
}

.sc-theme .sc-button-view.square.focus .focus-ring .focus-middle,
.sc-theme .sc-button-view.dropdown.focus .focus-ring .focus-middle,
.sc-theme .sc-button-view.popup.focus .focus-ring .focus-middle {
  left: 7px;
  right: 7px;
  background: static_url('images/sc-theme-repeat-x.png') repeat-x 0 -1749px;
}

.sc-theme .sc-button-view.capsule div.focus-ring .focus-left {
  width: 16px;
  left: -3px;
  background: static_url('images/sc-theme-repeat-x.png') no-repeat 0 -1783px;
}

.sc-theme .sc-button-view.capsule div.focus-ring .focus-right {
  width: 16px;
  right: -3px;
  background: static_url('images/sc-theme-repeat-x.png') no-repeat -16px -1815px;
}

.sc-theme .sc-button-view.capsule div.focus-ring .focus-middle {
  left: 13px;
  right: 13px;
  background: static_url('images/sc-theme-repeat-x.png') repeat-x 0 -1847px;
}