/* Core
---------------------------------------------- */

.sc-theme .sc-checkbox-view {
	line-height: 18px;
	background: none;
	vertical-align: middle;
}

.sc-theme .sc-checkbox-view .label {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 20px;
	line-height: 18px;
}

.sc-theme .sc-checkbox-view.icon img.icon {
  width: 16px;
  height: 16px;
  position: relative;
  top: -2px;
  margin: 0 4px 0 2px;
	vertical-align: middle;
}

.sc-theme .sc-checkbox-view.disabled {
	color: #666;
	color: rgba(0,0,0,0.5);
}


/* Images
---------------------------------------------- */

.sc-theme .sc-checkbox-view .button {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 1px;
  line-height: 16px;
	background: static_url('images/sc-theme-repeat-x.png') no-repeat -16px -468px;
}

.sc-theme .sc-checkbox-view.active .button {
  background-position: -16px -441px;
}

.sc-theme .sc-checkbox-view.disabled .button {
  background-position: -27px -411px;
}

.sc-theme .sc-checkbox-view.sel .button {
  background-position: -32px -495px;
}

.sc-theme .sc-checkbox-view.sel.active .button {
  background-position: -16px -495px;
}

.sc-theme .sc-checkbox-view.sel.disabled .button {
  background-position: 0 -495px;
}

.sc-theme .sc-checkbox-view.mixed .button {
  background-position: 0 -468px;
}

.sc-theme .sc-checkbox-view.mixed.active .button {
  background-position: -16px -388px;
}

.sc-theme .sc-checkbox-view.mixed.disabled .button {
  background-position: -32px -441px;
}