/* Core
---------------------------------------------- */

.sc-theme .sc-list-item-view {
  font-size: 11px;
}

.sc-theme .sc-list-item-view.sel {
  color: #fff;
  background: #888;
}

.sc-theme .sc-list-item-view.active {
  color: #fff;
  background: #333;
}


/* Label
---------------------------------------------- */

.sc-theme .sc-list-item-view label {
  height: 18px;
  display: block;
  position: absolute;
  top: 50%;
  right: 4px;
  left: 4px;
  margin-top: -9px;
  line-height: 18px;
  white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
}

.sc-theme .sc-list-item-view .sc-outline {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.sc-theme .sc-list-item-view.has-icon label,
.sc-theme .sc-list-item-view.has-checkbox label {
	left: 24px;
}

.sc-theme .sc-list-item-view.has-checkbox.has-icon label {
	left: 44px;
}


/* Icon
---------------------------------------------- */

.sc-theme .sc-list-item-view img.icon {
  position: absolute;
  top: 50%;
  left: 5px;
  margin-top: -9px;
}

.sc-theme .sc-list-item-view.has-checkbox img.icon {
	left: 25px;
}


/* Checkbox
---------------------------------------------- */

.sc-theme .sc-list-item-view .sc-checkbox-view {
  width: 17px;
  height: 16px;
  display: block;
  position: absolute;
  top: 50%;
  left: 5px;
  margin-top: -8px;
  border: 0;
  background: none;
  border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
}

.sc-theme .sc-list-item-view.sel .sc-checkbox-view,
.sc-theme .sc-list-item-view .sc-checkbox-view.sel,
.sc-theme .sc-list-item-view .sc-checkbox-view.active {
  border: 0;
  background: none;
}


/* Disclosure
---------------------------------------------- */

.sc-theme .sc-list-item-view img.disclosure {
  width: 14px;
	height: 14px;
  position: absolute;
  top: 50%;
  left: -11px;
  margin-top: -6px;
  background: static_url('images/sc-theme-repeat-x.png') -16px -1614px;
}

.sc-theme .sc-list-item-view img.disclosure.open {
	background-position: 0 -1597px;
}

.sc-theme .sc-list-item-view img.disclosure.active {
	background-position: 0 -1630px;
}

.sc-theme .sc-list-item-view img.disclosure.open.active {
	background-position: -16px -1597px;
}

.sc-theme .sc-list-item-view.disabled img.disclosure,
.sc-theme .sc-list-item-view.disabled img.disclosure.active {
	background-position: -16px -1630px;
}

.sc-theme .sc-list-item-view.disabled img.disclosure.open,
.sc-theme .sc-list-item-view.disabled img.disclosure.open.active {
	background-position: 0 -1613px;
}


/* Branch
---------------------------------------------- */

.sc-theme .sc-list-item-view .branch {
  width: 16px;
	height: 16px;
	display: block;
	position: absolute;
	top: 50%;
	right: 1px;
	margin-top: -8px;
}

.sc-theme .sc-list-item-view.sel .branch,
.sc-theme .sc-list-item-view.active .branch {
}


/* Count
---------------------------------------------- */

.sc-theme .sc-list-item-view .count {
  height: 12px;
  display: block;
  position: absolute;
  top: 50%;
  right: 4px;
  margin-top: -7px;
  padding-left: 7px;
	padding-right: 8px;
	border: 1px solid #888;
	color: #fff;
  line-height: 11px;
  font-weight: bold;
	text-align: center;
	letter-spacing: -1px;
	background: #888;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
}

.sc-theme .sc-list-item-view.sel .count {
  background: #333;
  border: 1px solid #333;
}

.sc-theme .sc-list-item-view.active .count {
  background: #000;
  border: 1px solid #000;
}

.sc-theme .sc-list-item-view.has-branch .count {
	right: 16px;
}