/* Core
---------------------------------------------- */

.sc-theme .sc-menu-scroller-view {
  background: #eaeaea;
}

.sc-theme .sc-menu-scroll-view .sc-menu-scroller-view.sc-vertical {
  overflow-y: hidden;
  text-align: center;
}

.sc-theme .sc-menu-scroller-view.sc-vertical .arrowUp,
.sc-theme .sc-menu-scroller-view.sc-vertical .arrowDown {
  width: 14px;
  height: 14px;
  display: inline-block;
  border: 0;
  text-align: center;
  vertical-align: bottom;
  background: static_url('images/sc-theme-repeat-x.png') no-repeat 0 -1585px;
}

.sc-theme .sc-menu-scroller-view.sc-vertical .arrowDown {
  background-position: 0 -1598px;
}