/* Core
---------------------------------------------- */

.sc-theme .sc-pane.sc-panel.sc-picker .perfectRight {
  width: 25px;
  height: 51px;
  position: absolute;
  top: 20px;
  left: -25px;
  background: static_url('images/panels/sprite-x.png') no-repeat 0 -30px;
}

.sc-theme .sc-pane.sc-panel.sc-picker .perfectLeft {
  width: 25px;
  height: 51px;
  position: absolute;
  top: 20px;
  right: -25px;
  background: static_url('images/panels/sprite-x.png') no-repeat -30px -30px;
}

.sc-theme .sc-pane.sc-panel.sc-picker .perfectTop {
  width: 51px;
  height: 25px;
  position: absolute;
  bottom: -25px;
  left: 50%;
  margin-left: -25px;
  background: static_url('images/panels/sprite-x.png') no-repeat 0 -90px;
}

.sc-theme .sc-pane.sc-panel.sc-picker .perfectBottom {
  width: 51px;
  height: 25px;
  position: absolute;
  top: -25px;
  left: 50%;
  margin-left: -25px;
  background: static_url('images/panels/sprite-x.png') no-repeat;
}